build/
*.aux
*.bbl
*.bcf
*.blg
*.fls
*.fdb_latexmk
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
!doc/oritone.pdf
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
*.swp
*~
.DS_Store
/examples/example-references.bib
